body{
    font-family: 'Courier New', Courier, monospace;

}

header{
    text-align: center;
    margin-bottom: 40%;
}
h1{
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: darkgreen;
}

.my-custom-h1{
    font-family: serif;
    font-size: 1.5rem;
}

p{
    font-family: monospace;
    font-size: 1.2rem;
}